.life-bar
  &__track
    width: 100%
    height: max-content
    background: #ededed
    border-radius: 999px
    overflow: hidden

  &__fill
    height: 100%
    background: #e10000
    transition: width 0.2s ease
    color: #fff
    font-weight: 900
    text-align: center